


.Main-proyecto{

  display: flex;
  flex-direction: column;
  gap: 2rem;
    height: 100vh;
    padding: 1rem 2rem;
}



.Main-titulo{
 
  font-size: 2rem;
  font-style: oblique;
  color: var(--text);

}



.Galeria-mansory{
    column-count: 2;
    column-gap: 0.4rem;
    padding: 0;
    margin: 0;
    list-style: none;

}




.Galeria-mansory-item{

    break-inside: avoid; /* No cortar las imágenes entre columnas */
    margin-bottom: 0.4rem;
    opacity: 0;
    transform: scale(0.95) translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;

}

.Galeria-mansory-item.visible{
  opacity: 1;
  transform: scale(1) translateY(0);

}





.Galeria-imgProyecto{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
    object-fit: cover;
    cursor: pointer;
}

/* .Galeria-mansory-item.horizontal {
    width: 100%;
    column-span: all; 
  }  */




  @media (min-width: 768px) and (max-width: 1024px) {

    .Galeria-mansory {
        column-count: 3; /* 3 columnas en tablet */
      }


  }


  @media (min-width: 1025px) {

  .Galeria-mansory {
    column-count: 2;
  }


}