.Main-commingSoon {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}



.Main-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;

}



.Background-imagenes {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeInOut 45s infinite;
}




@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.Main-comming {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Helvetica', sans-serif;
}

.Main-logo {
    width: 200px;
    opacity: 0;
    transform: translateY(-30px);
    animation: fadeInLogo 1s ease-out forwards;
    animation-delay: 0s; /* El logo aparece primero */

}


.Subtitle {
    text-align: end;
    font-size: 14px;
    font-style: oblique;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInSubtitle 1s ease-out forwards;
    animation-delay: 1s; /* El texto aparece después del logo */
}





/* ANIMACIONES */
/* Animación para el logo */
@keyframes fadeInLogo {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Animación para el texto */
@keyframes fadeInSubtitle {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}






/* tablet */

@media (min-width: 768px) and (max-width: 1024px) {

    .Main-logo {
        width: 250px;
    }

    .Main-container {
        display: flex;
    }


    .Main-background {
        width: 55%;
    }


    .Main-comming{
        left: 75%
    }


}






/* Dekstop */
@media (min-width: 1025px) {




    .Main-logo {
        width: 300px;
    }

    .Main-container {
        display: flex;
    }


    .Main-background {
        width: 50%;
      
    }


    .Main-comming{
        left: 75%
    }


}