.Main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.Main-proyectos {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;


   
}


.Proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card {
    width: 30%; 
}

.Card-img {
    width: 100%;
    border-radius: 2px;
    height: 100%;
    object-fit: cover; /
}


.Proyecto-contenedor{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items:baseline;
    padding: 3rem 0 0 6rem;
}


.Proyecto-informacion{
    display: flex;
    align-items: center;
    gap: 2rem;
}


.Proyecto-titulo{
    font-style: oblique;
    font-weight: lighter;




}
/* ---------------- */
/*     Tablets */
/* ---------------- */


@media screen  and (min-width: 768px) and (max-width:1023px){
  

    
    .Main-proyectos {
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
      
      
         
      }
      


  
  
  }
  
  
  
  
  
  
  /* ---------------- */
  /*     Dekstop      */
  /* ---------------- */
  
  
  
  @media screen  and (min-width: 1024px) and (max-width:1281px){
  
  
   
    
  }